/** fontes **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@media screen and (max-width: 620px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans', sans-serif;
    }

    .imgskills{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
}