/*  Fontes  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body{
  background-color: #1e1e1e;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-bottom: 15px;
}
.logo{
  margin-left: 17px;
  display: block;
}
.logo > img{
  
  width: 60px;
}
.menu{
  display: flex;
  
}
.menu > a{
  
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 3px;
}

.menu a:hover{
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: blue;

}

/* Sobre mim */

.container{
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
}
.container > h1, img{
  padding-top: 10px;
  padding-bottom: 5px;
}
  .container p{
    font-size: 21px;
    padding-right: 3%;
    padding-left: 3%;
  }

/* Works */

.works{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.riotLogin > a > img{
  width: 35vw;
}
/* Skills */

#skills{
  padding-top: 30px;
  color: #ffffff;
}

.imgskills{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Redes sociais */

#social{
  padding-top: 30px;
  color: #ffffff;
}

.imgsocial{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.github a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.github img{
  width: 200px;
}
.linkedin a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.linkedin img{
  width: 200px;
}
.twitter a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.twitter img{
  width: 200px;
}
.instagram a{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.instagram img{
  width: 200px;
}

/* Zap */

.contact{
  padding-top: 40px;
}
.zap{
  display: flex;
  justify-content: center;
}