/** fontes **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.header{
    height: 80px;
    width: 100%;
    background-color: #1455d9;
    font-family: 'Titillium Web', sans-serif;
}

.header > a{
    text-decoration: none;
    color: #ffffff;
    font-size: 23px;
}
.tabout{
    text-align: center;
}
.about{
    width: 100%;
    background-color: #ffffff;
}

.tskills{
    text-align: center;
}
.skills{
    width: 100%;
    background-color: #ffffff;
}

.tprojects{
    text-align: center;
}

.projects{
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.comingsoon{
    background-color: #1455d9;
    color: #ffffff;
    text-align: center;
}

.tcontact{
    text-align: center;
}

.contact{
    height: auto;
    width: 100%;
    background-color: #1455d9;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact > img{
    width: 150px;
}