/** fontes **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
header{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #1826bc;
    font-family: 'Titillium Web', sans-serif;
    border-bottom: 2px solid rgb(41, 41, 41);
    align-items: center;
    justify-content: space-around;
}

.logo > img{
    width: 65px;
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    
}
ul > a{
    padding-right: 12px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.container{
    display: flex;
    align-content: center;
    padding: 25px;
}

.imgskills{
    display: flex;
}

.imgcontact{
    display: flex;
}