/** fontes **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
header{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #005ce6;
    font-family: 'Titillium Web', sans-serif;
    border-bottom: 2px solid rgb(41, 41, 41);
    align-items: center;
    justify-content: space-around;
}

.logo > img{
    width: 69px;
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    
}
ul > a{
    padding-right: 12px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
/** s **/
.aboutme{ 
    padding-top: 17px;
    padding-bottom: 30px;
    font-size: 15px;
}
.container > h1{
    text-align: center;
    padding-bottom: 11px;
    font-family: 'Titillium Web', sans-serif;
}
.container > .name{
    font-size: 31px;
    color: #005ce6;
}

.container > .devel{
    font-size: 29px;
}

.container > img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.container > h3{
    font-size: 21px;
    margin-left: 139px;
    margin-right: 139px;
}
.skills{
    display: block;
    background-color: #005ce6;
}

.skills > h1{
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    color: #ffffff;
    font-size: 29px;
}

.imgskills{
    display: flex;
    justify-content: space-around;
    padding-bottom: 17px;
}

.html{
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.html > img{
    width: 175px;
}
.css{
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.css > img{
    width: 175px;
}
.js{
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.js > img{
    width: 175px;
}
.react{
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.react > img{
    width: 175px;
}

.projects{
    padding-top: 30px;
    padding-bottom: 30px;
}
.cprojects > h2{
    font-size: 29px;
    font-family: 'Shantell Sans', cursive;
    padding-top: 18px;
}

.contact{
    background-color: #005ce6;
}

.contact > h1{
    text-align: center;
    color: #ffffff;
    font-size: 29px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.imgcontact{
    display: flex;
    padding-bottom: 17px;
    justify-content: center;
    text-align: center;
}

.github {
    padding-right: 165px;
}
.github > img{
    width: 100px;
}

.github > a{
    color: #ffffff;
    text-decoration: none;
}

.twitter > img{
    width: 100px;
}

.twitter > a{
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 630px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans', sans-serif;
    }
    header{
        display: flex;
        height: 60px;
        width: 100%;
        background-color: #005ce6;
        font-family: 'Titillium Web', sans-serif;
        border-bottom: 2px solid rgb(41, 41, 41);
        align-items: center;
        justify-content: space-around;
    }

    .logo > img{
        width: 51px;
    }

    ul{
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        list-style: none;
        
    }
    ul > a{
        padding-right: 9px;
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
    }
    .aboutme{ 
        padding-top: 13px;
        padding-bottom: 6px;
        font-size: 15px;
    }

    .container > img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        padding-bottom: 13px;
    }

    .container > h3{
        margin-left: 6px;
        margin-right: 6px;
    }
    .skills{
        display: block;
        background-color: #005ce6;
    }

    .skills > h1{
        padding-top: 13px;
        padding-bottom: 13px;
        text-align: center;
        color: #ffffff;
        font-size: 29px;
    }

    .imgskills{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-bottom: 15px;
    }

    .html{
        color: #ffffff;
        text-align: center;
        font-size: 15px;
    }
    .html > img{
        width: 120px;
    }
    .css{
        color: #ffffff;
        text-align: center;
        font-size: 15px;
    }
    .css > img{
        width: 120px;
    }
    .js{
        color: #ffffff;
        text-align: center;
        font-size: 15px;
    }
    .js > img{
        width: 120px;
    }
    .react{
        color: #ffffff;
        text-align: center;
        font-size: 15px;
    }
    .react > img{
        width: 120px;
    }

    .projects{
        padding-top: 13px;
        padding-bottom: 18px;
    }
    .cprojects > h2{
        font-family: 'Shantell Sans', cursive;
        padding-top: 18px;
    }
    
    .contact{
        background-color: #005ce6;
    }
    .contact > h1{
        text-align: center;
        color: #ffffff;
        font-size: 29px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .imgcontact{
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-bottom: 19px;
        text-align: center;
    }

    .github > img{
        width: 100px;
    }

    .github > a{
        color: #ffffff;
        text-decoration: none;
    }

    .twitter > img{
        width: 100px;
    }

    .twitter > a{
        color: #ffffff;
        text-decoration: none;
    }
}