/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #005ce6;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio a > img{
    width: 40vw;
}

.portfolio > a{
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.linkedin > a > img{
    width: 40vw;
}
.linkedin > a{
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.github > a > img{
    width: 40vw;
}

.github > a{
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}
.youtube > a > img{
    width: 40vw;
}

.youtube > a{
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.twitch > a{
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.twitch > a > img{
    width: 40vw;
}


.canalVods > a{
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center;
}
.canalVods > a > img{
    width: 40vw;
}

#conteudo{
    padding-bottom: 7vh;
}

@media screen and (max-width: 640px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }

    body{
        background-color: #005ce6;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .portfolio a > img{
        width: 60vw;
    }
    
    .portfolio > a{
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        text-align: center;
    }
    
    .linkedin > a > img{
        width: 60vw;
    }
    .linkedin > a{
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        text-align: center;
    }
    
    .github > a > img{
        width: 60vw;
    }

    .github > a{
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        text-align: center;
    }
    .youtube > a > img{
        width: 60vw;
        margin-left: 20%;
    }

    .youtube > a{
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
    }
    
    .twitch > a{
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        text-align: center;
    }

    .twitch > a > img{
        width: 55vw;
    }


    .canalVods > a{
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
    }
    .canalVods > a > img{
        width: 50vw;
        margin-left: 20%;
    }

    #conteudo{
        padding-bottom: 7vh;
    }
}